/* index.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f3f6;
  color: #333;
  padding: 10px; /* Додаємо відступи для тіла */
}
